
input {
    width: 100%;
}

.bs-callout {
    margin-left: 20px;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
    background-color: white;
    h4, p {
        margin-left:20px;
    }
}
.bs-callout-warning {
    border-left-color: #f0ad4e;
}

.container {
    #contacts {
        div {
            padding: 2px;
            span{
                font-weight: bold;
                vertical-align: middle;
            }
        }
        .btn {
            margin-top: 20px;
            margin-bottom: 20px;
            float: right;
        }
    }
    text-align: left;
}

#googleMap {
    height: 200px;
    width: 100%;
}