<div id="cart">
    <div id="cart-top">
        Замовлення <span id="cart-list-quantity" class="quantity">0</span>
        <span id="clear">Очистити</span>
    </div>
    <div id="cart-items">
    </div>
    <div id="cart-bottom">
        <div class="row">
            <div class="col-md-7">
                Сума замовлення
            </div>
            <div id="total" class="col-md-5">
                0 грн.
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <button class="btn-order btn btn-lg btn-warning" onclick="location.href='/order.html'">Замовити</button>
                <button class="btn-edit btn btn-md btn-default" onclick="location.href='/'">Редагувати замовлення </button>
            </div>
        </div>
    </div>
</div>