
<div id="discount">ЦЬОГО ТИЖНЯ НА ВСЕ<br /><p>-20%</p><img src="assets/images/discount.svg" /></div>

<!--Own JavaScript -->
<script type="text/javascript"  src="assets/js/main.js"> </script>
</body>
</html>