    <div id="header">
        <div id="logo">Pizza<br />KMA<div class="logoback"></div></div>
        <div id="top-elements">
            <div class="row">
                <div class="col-sm-6 col-md-4 col-lg-3" id='phone'>
                    (044) 222 5 222 
                </div>
                <div class="col-md-4 col-lg-3 hidden-sm hidden-xs">
                    24 години/7 днів на тиждень
                </div>
                <div class="col-md-4 col-lg-3 hidden-md hidden-sm hidden-xs">
                    Безкоштовна доставка піци
                </div>
                <div class="col-sm-6 col-lg-3 col-md-4">
                    <button id="signin" class="btn btn-sm btn-warning">Ввійти</button>
                </div>
            </div>
            <hr class="hidden-xs" />
            <div class="row">
                <div class="col-md-3 hidden-xs" style="float:left;">
                Піца
                </div>
            </div>
        </div>            
    </div>